<!DOCTYPE html>
<html>
	<head>
		<title>About</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
    <!-- <link rel="import" href="header.html"> -->
    <!-- <script language="html" type="text/html" src="header.html"></script> -->
		<div class="container">
    		Work Experience
        Academic Background
        Publications
        Skills
        Volunteer Experience
		</div><!-- /.container -->
    <!-- <link rel="import" href="footer.html"> -->
	</body>
</html>
